/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

/* Components */
@import url(./components/navbar.css);
@import url(./components/button.css);
@import url(./components/icons-header.css);
@import url(./components/services-avatar.css);
@import url(./components/counter.css);
@import url(./components/cards.css);
@import url(./components/footer.css);

/* Globals */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  /* overflow: hidden; */
  background-color: #F7F6F2;
}
