.contact-btn {
  background-color: #E74336;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.contact-btn a {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: #f11a0b
}
