.icons-container {
  /* border: 1px solid red; */
  position: absolute;
  bottom: 0;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-card {
  background-color: rgba(49, 49, 49, 0.596);
  background-position: center;
  background-image: url("/images/tabs_bg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  border: none;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  width: 290px;
  transition: all 0.5s ease;
}

.icon-card:hover {
  background-color: rgb(49, 49, 49);
}

.icon-card p {
  color: white;
}

.icon-card img {
  width: 50px;
}


@media screen and (max-width: 768px) {

  .icons-container {
    width: 700px;
  }

  .icon-card {
    height: 115px;
    width: 215px;
  }

  .icon-card p {
    font-size: 0.80em;
  }
}
