.icons-container {
  /* border: 1px solid red; */
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid blue; */
  margin: 0 auto;
}

.icon-card {
  background-color: rgba(49, 49, 49, 0.596);
  background-position: center;
  background-image: url("/images/tabs_bg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  border: none;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  /* width: 290px; */ 
  transition: all 0.5s ease;
}

.box {
  /* border: 1px solid red; */
  width: 300px;
  flex-shrink: 1;
}

.icon-card:hover {
  background-color: rgb(49, 49, 49);
}

.icon-card p {
  color: white;
}

.icon-card img {
  width: 50px;
}

@media screen and (max-width: 900px) {

  .icons-container {
    max-width: 780px;
  }

 .box {
   width: 250px;
 }
}

@media screen and (max-width: 768px) {
  .icons-container {
    display: none;
  }
  .icon-card p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 414px) {

}
