header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url(/images/pexels-pixabay-262353.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nav {

  position: fixed;
  z-index: 5;
  width: 100%;
  transition: all 0.3s ease;
}

.nav-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  height: 100px;
}

.links {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
}

.links:hover {
  color: red;
  border-bottom: 1px solid red;
}

nav.sticky {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.562);
}

.logo img {
  width: 150px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  list-style: none;
  font-weight: 600;
}


.hero-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}

.hero-info h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 2.5em;
  background-color: #111;
  text-align: center;
}

.hero-info h2 {
  color: white;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
}

.menu-container {
  display: inline-block;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 40px;
  }

  #nav {
    background-color: black;
  }
  
  .nav-container {
    height: 104px;
    width: 100%;
    margin: 0 auto;
  }

  .nav-links {
    margin-right: 0;
    width: 50%;
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 12.2vh;
    background-color: #e74336;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-150%);
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-active {
    transform: translateY(0%);
  }

  .menu-container {
    display: block;
    margin-right: 40px;
    color: white;
    font-size: 20px;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .hero-info h1 {
    width: 80%;
    font-size: 1.5em;
  }
}
