#services {
  height: 700px;
  background-color: #F7F6F2;
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid red; */
  height: 100%;
}

.info-header{
  text-align: center;
}

.info-header p {
  font-weight: 300;
  text-transform: uppercase;
}

.info-header span {
  font-size: 32px;
  font-weight: 700;
}


.avatars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  /* border: 1px solid blue; */
}

.avatar-info {
  /* border: 1px solid red; */
  height: 240px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.avatar-info h3 {
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.6px;
}

.avatar-info p {
  font-weight: 300;
}

.avatar-container {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.avatar-info img {
  width: 60px;
  height: 60px;
}
